
<footer class="bg-gray-200 py-2 fixed bottom-0 w-full ">
  <div class="container flex justify-start items-center mx-auto gap-5 text-xs ">
    <a class="item g-fc3 g-fc23h text-blue-500 hover:underline" href="http://www.hao123.com/abouthao123">关于本站</a>
    <a class="item g-fc3 g-fc23h text-blue-500 hover:underline"
      href="http://www.hao123.com/abouthao123/fuwuxieyi">服务协议</a>
    <a class="item g-fc3 g-fc23h text-blue-500 hover:underline" href="http://www.hao123.com/sitemap">全站地图</a>
    <a class="item g-fc3 g-fc23h text-blue-500 hover:underline" href="http://www.hao123.com/feedback">意见反馈</a>
    <a class="item g-fc3 g-fc23h mr-12 text-blue-500 hover:underline"
      href="http://e.baidu.com/ebaidu/lpapply/?refer=1204">百度推广</a>
    <a class="item g-fc3 g-fc23h mr-12 text-blue-500 hover:underline"
      href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000001">京公网安备 </a>
    <a href="https://beian.miit.gov.cn/" class="item g-fc3 g-fc3 text-blue-500 hover:underline">京ICP证030173号</a>
    <span class="item g-fc3 g-fc23h text-blue-500 hover:underline">违法和不良信息举报电话：400-921-6911</span>
    <a class="item g-fc3 g-fc23h mr-12 width-nr-hide bottom-fawu text-blue-500 hover:underline"
      href="http://www.12377.cn/" title="中国互联网违法和不良信息举报中心">
      <i class="hgi-stroke hgi-airdrop"></i>
    </a>
    <a class="item g-fc3 g-fc23h mr-12 width-nr-hide bottom-fawu icon-fawu2 text-blue-500 hover:underline"
      href="http://cyberpolice.mps.gov.cn/" title="北京市公安局网络违法犯罪举报网站">
      <i class="hgi-stroke hgi-prison-guard"></i>
    </a>
    <a class="item g-fc3 g-fc23h width-nr-hide bottom-fawu icon-fawu3 text-blue-500 hover:underline"
      href="http://www.bjjubao.org.cn/index.html" title="北京市互联网违法和不良信息举报中心">
      <i class="hgi-stroke hgi-camera-lens"></i>
    </a>
  </div>
</footer>
