<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4"
>
  <div class="bg-white shadow-sm overflow-hidden">
    <img
      src="assets/sample/live.jpg"
      alt="Image"
      class="w-full h-30 object-cover"
    />
    <div class="p-4">
      <h3 class="text-xs font-semibold text-gray-800 truncate">
        三力测试便民措施，助老老年人轻松应考
      </h3>
      <div class="flex items-center">
        <img
          class="h-4 w-4 rounded-full"
          src="https://avatar.bdstatic.com/it/u=2626715436,2717869947&amp;fm=3012&amp;app=3012&amp;autime=1732259431&amp;size=b200,200"
          loading="lazy"
        />
        <span class="text-xs text-gray-600">花姐活珠子</span>
      </div>
    </div>
  </div>

  <div class="bg-white shadow-sm overflow-hidden">
    <img
      src="assets/sample/live.jpg"
      alt="Image"
      class="w-full h-30 object-cover"
    />
    <div class="p-4">
      <h3 class="text-xs font-semibold text-gray-800 truncate">
        三力测试便民措施，助老老年人轻松应考
      </h3>
      <div class="flex items-center">
        <img
          class="h-4 w-4 rounded-full"
          src="https://avatar.bdstatic.com/it/u=2626715436,2717869947&amp;fm=3012&amp;app=3012&amp;autime=1732259431&amp;size=b200,200"
          loading="lazy"
        />
        <span class="text-xs text-gray-600">花姐活珠子</span>
      </div>
    </div>
  </div>

  <div class="bg-white shadow-sm overflow-hidden">
    <img
      src="assets/sample/live.jpg"
      alt="Image"
      class="w-full h-30 object-cover"
    />
    <div class="p-4">
      <h3 class="text-xs font-semibold text-gray-800 truncate">
        三力测试便民措施，助老老年人轻松应考
      </h3>
      <div class="flex items-center">
        <img
          class="h-4 w-4 rounded-full"
          src="https://avatar.bdstatic.com/it/u=2626715436,2717869947&amp;fm=3012&amp;app=3012&amp;autime=1732259431&amp;size=b200,200"
          loading="lazy"
        />
        <span class="text-xs text-gray-600">花姐活珠子</span>
      </div>
    </div>
  </div>

  <div class="bg-white shadow-sm overflow-hidden">
    <img
      src="assets/sample/live.jpg"
      alt="Image"
      class="w-full h-30 object-cover"
    />
    <div class="p-4">
      <h3 class="text-xs font-semibold text-gray-800 truncate">
        三力测试便民措施，助老老年人轻松应考
      </h3>
      <div class="flex items-center">
        <img
          class="h-4 w-4 rounded-full"
          src="https://avatar.bdstatic.com/it/u=2626715436,2717869947&amp;fm=3012&amp;app=3012&amp;autime=1732259431&amp;size=b200,200"
          loading="lazy"
        />
        <span class="text-xs text-gray-600">花姐活珠子</span>
      </div>
    </div>
  </div>

  <div class="bg-white shadow-sm overflow-hidden">
    <img
      src="assets/sample/live.jpg"
      alt="Image"
      class="w-full h-30 object-cover"
    />
    <div class="p-4">
      <h3 class="text-xs font-semibold text-gray-800 truncate">
        三力测试便民措施，助老老年人轻松应考
      </h3>
      <div class="flex items-center">
        <img
          class="h-4 w-4 rounded-full"
          src="https://avatar.bdstatic.com/it/u=2626715436,2717869947&amp;fm=3012&amp;app=3012&amp;autime=1732259431&amp;size=b200,200"
          loading="lazy"
        />
        <span class="text-xs text-gray-600">花姐活珠子</span>
      </div>
    </div>
  </div>

  <div class="bg-white shadow-sm overflow-hidden">
    <img
    src="assets/sample/live.jpg"
      alt="Image"
      class="w-full h-30 object-cover"
    />
    <div class="p-4">
      <h3 class="text-xs font-semibold text-gray-800 truncate">
        三力测试便民措施，助老老年人轻松应考
      </h3>
      <div class="flex items-center">
        <img
          class="h-4 w-4 rounded-full"
          src="https://avatar.bdstatic.com/it/u=2626715436,2717869947&amp;fm=3012&amp;app=3012&amp;autime=1732259431&amp;size=b200,200"
          loading="lazy"
        />
        <span class="text-xs text-gray-600">花姐活珠子</span>
      </div>
    </div>
  </div>

  <div class="bg-white shadow-sm overflow-hidden">
    <img
      src="assets/sample/live.jpg"
      alt="Image"
      class="w-full h-30 object-cover"
    />
    <div class="p-4">
      <h3 class="text-xs font-semibold text-gray-800 truncate">
        三力测试便民措施，助老老年人轻松应考
      </h3>
      <div class="flex items-center">
        <img
          class="h-4 w-4 rounded-full"
          src="https://avatar.bdstatic.com/it/u=2626715436,2717869947&amp;fm=3012&amp;app=3012&amp;autime=1732259431&amp;size=b200,200"
          loading="lazy"
        />
        <span class="text-xs text-gray-600">花姐活珠子</span>
      </div>
    </div>
  </div>
</div>
