.linkLongFirst {
    color:green;
    text-decoration: none;
    margin-right: 10px;
}

.line-item {
    position: relative;
    padding-left: 20px; /* Space for the bullet */
  }
  
  .line-item::before {
    content: '•'; /* The bullet character */
    position: absolute;
    color: #D8D8D8;
    left: 0;
    top: 40%;
    transform: translateY(-50%); /* Vertically center the bullet */
    font-size: 30px; /* Adjust the size of the bullet */
  }