<div class="relative">
  <img
    src="https://hao123-static.cdn.bcebos.com/cms/2024-10/1728439862186/6c150c9d16f2.jpg"
    alt="banner"
    class="w-full"
  />
</div>
<div class="container mx-auto px-4 z-30">
  <div
    class="flex items-center flex-wrap justify-around mt-4 mb-2 space-x-3 text-sm font-light"
  >
    <div class="flex justify-start items-start">
      <div>
        <img src="assets/logo/hao123.png" alt="logo" width="123" height="33" />
      </div>
      <div class="border p-1 rounded-lg flex-shrink">设为首页</div>
    </div>
    <div class="hover:bg-gray-200 hover:rounded">
      <a href="#" class="px-4"> 北京 切换 </a> <br />
      <a href="#" class="px-4"> 七日天气 </a>
    </div>
    <div class="hover:bg-gray-200 hover:rounded">
      <a href="#" class="px-4"
        ><i class="hgi-stroke hgi-sun-cloud-little-rain-02"></i>
        多云 -5～4℃ 优
      </a>
      <br />
      <a href="#" class="px-4"
        ><i class="hgi-stroke hgi-sun-cloud-little-rain-02"></i> 明多云 -5～4℃
      </a>
    </div>
    <div class="hover:bg-gray-200 hover:rounded">
      <a href="#" class="px-4"> 11月26日 十月廿六 </a> <br />
      <a href="#" class="px-4"> 星期二 星座运势 </a>
    </div>
    <div class="flex hover:bg-gray-200 hover:rounded">
      <div class="flex flex-col">
        <a href="#" class="px-4 line-item">查IP </a>
        <a href="#" class="px-4 line-item">邮箱 </a>
      </div>
      <div class="flex flex-col">
        <a href="#" class="px-4 line-item">地图 </a>
        <a href="#" class="px-4 line-item">汇率 </a>
      </div>
      <div class="flex flex-col">
        <a href="#" class="px-4 line-item">火车票 </a>
        <a href="#" class="px-4 line-item">查快递 </a>
      </div>
      <div class="flex flex-col">
        <a href="#" class="px-4 line-item">计算器 </a>
        <a href="#" class="px-4 line-item">查股票 </a>
      </div>
      <div class="flex flex-col">
        <a href="#" class="px-4 line-item">违章查询 </a>
        <a href="#" class="px-4 line-item">个税查询 </a>
      </div>
      <div class="flex flex-col">
        <a href="#" class="px-4 line-item">网盘 </a>
        <a href="#" class="px-4 line-item">辟谣 </a>
      </div>
    </div>
    <div
      class="hover:bg-gray-200 hover:rounded flex items-top hover:cursor-pointer"
    >
      <a href="#" (click)="openLoginModal()"
        ><i class="hgi-stroke hgi-user-sharing"></i> 登录
      </a>
    </div>
  </div>
</div>

<header class="sticky top-0 bg-white shadow-md z-50">
  <div class="max-w-7xl mx-auto p-4">
    <div class="flex space-x-4 items-top justify-center min-w-10">
      <div class="logo">
        <img src="assets/logo/baidu.png" alt="logo" width="123" height="33" />
      </div>

      <div class="flex flex-col">
        <div class="searchBox flex flex-shrink-0">
          <div class="flex relative">
            <!-- Dropdown Button -->
            <button
              id="dropdown-button"
              class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 border-l-2 border-t-2 border-b-2 border-blue-600 rounded-s-xl"
              type="button"
              (click)="toggleDropdown()"
            >
              {{ selectedOption || "网页" }}
              <svg
                class="w-2.5 h-2.5 ms-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>

            <!-- Search Input -->
            <div class="relative flex w-[440px] lg:w-[500px] bg-red-500">
              <!-- Search Input -->
              <input
                type="search"
                id="search-dropdown"
                class="block p-3.5 w-full z-20 text-sm text-gray-900 bg-gray-50 border-s-gray-50 border-2 border-blue-700 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                [attr.placeholder]="currentPlaceholder"
                (focus)="stopAnimation()"
                (blur)="startAnimation()"
                required
              />

              <!-- Button (3) inside the input -->
              <div
                class="absolute inset-y-0 end-0 flex items-center justify-center pr-3 z-50"
              >
                <button
                  class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-gray-300 rounded-full"
                  (click)="toggleSearchDropdown()"
                >
                  3
                </button>
              </div>
            </div>

            <button
              type="button"
              (click)="onSearch()"
              class="text-lg font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 px-7"
            >
              百度一下
            </button>

            <div
              id="dropdownCategoryMenu"
              class="absolute top-full left-0 mt-1 z-10 bg-white divide-y divide-gray-100 rounded-lg px-3 border-2 border-blue-600"
              [ngClass]="{ hidden: !dropdownVisible, block: dropdownVisible }"
            >
              <ul
                class="py-2 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdown-button"
              >
                <li
                  class="cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600"
                  *ngFor="let option of dropdownOptions"
                  (click)="selectOption(option.name)"
                >
                  {{ option.name }}
                </li>
              </ul>
            </div>

            <div
              id="searchDropDown"
              class="absolute top-full left-0 mt-1 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-full dark:bg-gray-700"
              [ngClass]="{
                hidden: !searchDropdownVisible,
                block: searchDropdownVisible
              }"
            >
              <ul class="list-none space-y-2">
                <!-- Item 1 -->
                <li
                  class="flex items-center px-3 mx-2 hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700"
                >
                  <span
                    class="flex items-center justify-center w-8 h-8 text-white bg-red-500 rounded-full mr-4"
                  >
                    1
                  </span>
                  <span class="flex-1 text-gray-900 dark:text-gray-200">
                    24岁女生没食欲 一查全胃长满肿瘤
                  </span>
                  <span class="text-gray-500 text-sm dark:text-gray-400"
                    >799万</span
                  >
                </li>

                <!-- Item 2 -->
                <li
                  class="flex items-center px-3 mx-2 hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700"
                >
                  <span
                    class="flex items-center justify-center w-8 h-8 text-white bg-orange-500 rounded-full mr-4"
                  >
                    2
                  </span>
                  <span class="flex-1 text-gray-900 dark:text-gray-200">
                    男子7200元买酒 扫码跳转色情网站
                  </span>
                  <span class="text-gray-500 text-sm dark:text-gray-400"
                    >782万</span
                  >
                </li>

                <!-- Item 3 -->
                <li
                  class="flex items-center px-3 mx-2 hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700"
                >
                  <span
                    class="flex items-center justify-center w-8 h-8 text-white bg-green-500 rounded-full mr-4"
                  >
                    3
                  </span>
                  <span class="flex-1 text-gray-900 dark:text-gray-200">
                    一批民生新规12月起施行
                  </span>
                  <span class="text-gray-500 text-sm dark:text-gray-400"
                    >771万</span
                  >
                </li>

                <!-- Additional Items -->
                <a
                  class="flex items-center px-3 mx-2 hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700"
                >
                  <span
                    class="flex items-center justify-center w-8 h-8 text-white bg-gray-600 rounded-full mr-4"
                  >
                    4
                  </span>
                  <span class="flex-1 text-gray-900 dark:text-gray-200">
                    艾滋夫妇确诊感染后的第20年
                  </span>
                  <span class="text-gray-500 text-sm dark:text-gray-400"
                    >768万</span
                  >
                </a>

                <li
                  class="flex items-center px-3 mx-2 hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700"
                >
                  <span
                    class="flex items-center justify-center w-8 h-8 text-white bg-gray-600 rounded-full mr-4"
                  >
                    5
                  </span>
                  <span class="flex-1 text-gray-900 dark:text-gray-200">
                    长征十二号火箭成功首飞
                  </span>
                  <span class="text-gray-500 text-sm dark:text-gray-400"
                    >751万</span
                  >
                </li>

                <!-- Add more items as needed -->
              </ul>
            </div>
          </div>
        </div>

        <div class="suggestion w-[500px] flex">
          <div class="mt-2 flex flex-wrap justify-start font-light text-xs">
            <div *ngFor="let item of hotSearchs">
              <a
                href="{{ item.link }}"
                target="_blank"
                class="block hover:underline"
                >{{ item.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
              >
            </div>
          </div>
          <div class="mt-2">
            <i class="hgi-stroke hgi-arrow-down-01"></i>
          </div>
        </div>
      </div>

      <div class="flex mt-3">
        <a href="#" class="text-sm font-light mr-3"
          >蒋凡归来 接管阿里5000亿命脉
        </a>
        <div class="">
          <a href="#"> <i class="hgi-stroke hgi-refresh"></i> </a>
        </div>
      </div>
    </div>
  </div>
</header>

<app-modal
  [isOpen]="isModalOpen"
  [showCancel]="true"
  [cancelText]="'Dismiss'"
  [showConfirm]="true"
  [confirmText]="'Okay'"
  (close)="closeModal()"
  (confirm)="onConfirm()"
  (cancel)="onCancel()"
>
  <div class="flex">
    <div class="w-1/2 relative">
      <img src="assets/logo/baidu.png" width="90px" class="absolute -top-10" />
      <div class="flex flex-col">
        <div class="flex justify-between">
          <div class="border border-gray-300 w-[150px] rounded-md p-3">
            <img src="assets/icon/qrcode.png" alt="image" class="object-fit" />
          </div>
          <div class="w-[150px]">
            <img
              src="assets/icon/qrcodeLoginGuide1.png"
              alt="image"
              class="w-full"
            />
          </div>
        </div>
        <h5 class="text-center my-4 text-2xl">请使用百度APP扫码登录</h5>
        <div class="flex w-full justify-center">
          <button
            class="flex items-center px-4 py-2 bg-gray-200 text-blue-600 rounded-lg hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-400"
          >
            <img
              src="assets/icon/baidu-download-icon.png"
              alt="Icon"
              class="w-5 h-5 mr-2"
            />
            下载百度APP
          </button>
        </div>
      </div>
    </div>
    <div class="border-r-2 border-gray-100 mx-3"></div>
    <div class="w-1/2 justify-start">
      <div class="flex space-x-2 mx-3">
        <div
          class="hover:cursor-pointer"
          [class.font-bold]="isLoginMode"
          (click)="changeLoginMode()"
        >
          账号登录
        </div>
        <div
          class="hover:cursor-pointer"
          [class.font-bold]="!isLoginMode"
          (click)="changeLoginMode()"
        >
          短信登录
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="bg-white w-full max-w-md m-3">
          <form>
            <!-- Email Field -->

            <div *ngIf="isLoginMode">
              <div class="mb-4">
                <input
                  type="email"
                  id="email"
                  placeholder="手机号/用户名/邮箱"
                  class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400"
                />
              </div>

              <!-- Password Field -->
              <div class="mb-4">
                <input
                  type="password"
                  id="password"
                  placeholder="密码"
                  class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400"
                />
              </div>

              <!-- Remember Me -->
              <div class="flex items-center justify-between mb-4">
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox text-blue-500" />
                  <span class="ml-2 text-sm text-gray-600">Remember Me</span>
                </label>
                <a
                  href="#"
                  class="text-sm text-blue-500 hover:underline focus:underline"
                >
                  忘记密码？
                  <!--forgot password?-->
                </a>
              </div>
            </div>
            <div *ngIf="!isLoginMode">
              <div class="mb-1">验证即登录，未注册将自动创建百度账号</div>
              <div class="mb-4">
                <input
                  type="phone"
                  id="phone"
                  placeholder="请输入手机号"
                  class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400"
                />
              </div>
              <div class="mb-4 relative">
                <input
                  type="number"
                  id="verify-code"
                  placeholder="验证码"
                  class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400"
                />
                <a
                  href="#"
                  class="absolute top-1/2 right-3 transform -translate-y-1/2 text-blue-500 hover:underline text-sm text-decoration-none"
                >
                  发送验证码
                </a>
              </div>
            </div>

            <!-- Submit Button -->
            <button
              type="submit"
              class="w-full bg-blue-500 text-white font-medium py-4 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400"
            >
              登录
            </button>
          </form>

          <!-- Divider -->
          <div class="mt-6 text-gray-500 text-center">
            阅读并接受 <a href="" class="text-blue-500">百度用户协议</a> 和
            <a href="" class="text-blue-500"> 隐私政策</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex justify-between items-center my-3 border-t-2 border-gray-200"
  >
    <div class="flex space-x-3 my-2">
      <a href=""><img src="assets/icon/bd-acc-qzone.png" class="w-8" /></a>
      <a href=""><img src="assets/icon/bd-acc-tsina.png" class="w-8" /></a>
      <a href=""><img src="assets/icon/bd-acc-weixin.png" class="w-8" /></a>
    </div>

    <a href="#" class="text-blue-500">立即注册</a>
  </div>
</app-modal>
