<!-- Tabs -->
<div class="w-full">
  <div class="flex space-x-4 overflow-x-auto py-2">
    <div *ngFor="let feed of feedTitles; let i = index" class="flex-shrink-0">
      <button
        class="tab-btn relative px-4 py-2 text-sm font-medium text-gray-700 hover:text-green-600"
        [attr.data-tab]="'tab-' + (i + 1)"
        title="{{ feed.en_name }}"
      >
        {{ feed.name }}
        <span
          class="active-indicator absolute bottom-0 left-0 w-full h-0.5 bg-green-600 hidden"
        ></span>
      </button>
    </div>
  </div>
</div>

<!-- Content -->
<div class="">
  <div id="tab-1" class="tab-panel">
    <app-recommendtab [topNews]="topNews"></app-recommendtab>

  </div>
  <div id="tab-2" class="tab-panel hidden video-tab">
    <app-videotab> </app-videotab>
  </div>
  <div id="tab-3" class="tab-panel hidden car-tab">
    <app-cartab></app-cartab>
  </div>
  <div id="tab-4" class="tab-panel hidden game-tab">
    <app-gametab></app-gametab>
  </div>
  <div id="tab-5" class="tab-panel hidden livetab">
    <app-livetab></app-livetab>
  </div>
  <div id="tab-6" class="tab-panel hidden sports">
    <app-sporttab> </app-sporttab>
  </div>
  <div id="tab-7" class="tab-panel hidden entertain ">
    <app-entertaintab></app-entertaintab>
  </div>
  <div id="tab-8" class="tab-panel hidden tech">
    <app-techtab></app-techtab>
  </div>
  <div id="tab-9" class="tab-panel hidden finacetab">
    <app-financetab></app-financetab>
  </div>
  <div id="tab-10" class="tab-panel hidden woman">
    <app-womantab></app-womantab>
  </div>
  <div id="tab-11" class="tab-panel hidden history">
   <app-historytab></app-historytab>
  </div>
  <div id="tab-12" class="tab-panel hidden fashion">
    <app-fashiontab></app-fashiontab>
  </div>
</div>
