<div class="text-sm" id="car-tab">
  <div class="grid grid-cols-3 gap-4 p-2">
    <div class="col-span-1">
      <div class="card border rounded-md shadow-sm">
        <div class="flex justify-between items-center border p-2">
          <a href="" target="_blank" class="font-bold">有驾销量榜</a>
          <a href="" target="_blank" class="flex justify-end text-gray-500">
            全国销量<i class="hgi-stroke hgi-greater-than"></i>
          </a>
        </div>
        <div class="card-content p-2">
          <a class="flex justify-start items-center my-3" href="" target="_blank">
            <div class="ranking">
              <div
                class="flex items-center justify-center w-8 h-8 rounded-full bg-yellow-200 text-center"
              >
                1
              </div>
            </div>
            <div class="car-image mx-2">
              <img src="assets/sample/carbrand/car2.png" width="120px" />
            </div>

            <div class="flex car-name justify-between w-full">
              <div class="info">
                <div class="truncate text-sm">宋PLUS新能源</div>
                <div class="text-red-600 text-xs font-light">6.98-8.58万</div>
              </div>
              <div class="car-pop flex-col flex-grow items-end">
                <div class="text-end truncate">全国销量</div>
                <div class="text-end truncate text-[10px]">51288</div>
              </div>
            </div>
          </a>
          <a class="flex justify-start items-center my-3" href="" target="_blank">
            <div class="ranking">
              <div
                class="flex items-center justify-center w-8 h-8 rounded-full bg-yellow-200 text-center"
              >
                2
              </div>
            </div>
            <div class="car-image mx-2">
              <img src="assets/sample/carbrand/car2.png" width="120px" />
            </div>

            <div class="flex car-name justify-between w-full">
              <div class="info">
                <div class="truncate text-sm">宋PLUS新能源</div>
                <div class="text-red-600 text-xs font-light">6.98-8.58万</div>
              </div>
              <div class="car-pop flex-col flex-grow items-end">
                <div class="text-end truncate">全国销量</div>
                <div class="text-end truncate text-[10px]">51288</div>
              </div>
            </div>
          </a>
          <a class="flex justify-start items-center my-3" href="" target="_blank">
            <div class="ranking">
              <div
                class="flex items-center justify-center w-8 h-8 rounded-full bg-yellow-200 text-center"
              >
                3
              </div>
            </div>
            <div class="car-image mx-2">
              <img src="assets/sample/carbrand/car2.png" width="120px" />
            </div>

            <div class="flex car-name justify-between w-full">
              <div class="info">
                <div class="truncate text-sm">宋PLUS新能源</div>
                <div class="text-red-600 text-xs font-light">6.98-8.58万</div>
              </div>
              <div class="car-pop flex-col flex-grow items-end">
                <div class="text-end truncate">全国销量</div>
                <div class="text-end truncate text-[10px]">51288</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-span-1">
      <div class="card border rounded-md shadow-sm">
        <div class="flex justify-between items-center border p-2">
          <a href="" target="_blank" class="font-bold">有驾销量榜</a>
          <a href="" target="_blank" class="flex justify-end text-gray-500">
            全国销量<i class="hgi-stroke hgi-greater-than"></i>
          </a>
        </div>
        <div class="card-content p-2">
          <a class="flex justify-start items-center my-3" href="" target="_blank">
            <div class="ranking">
              <div
                class="flex items-center justify-center w-8 h-8 rounded-full bg-yellow-200 text-center"
              >
                1
              </div>
            </div>
            <div class="car-image mx-2">
              <img src="assets/sample/carbrand/car2.png" width="120px" />
            </div>

            <div class="flex car-name justify-between w-full">
              <div class="info">
                <div class="truncate text-sm">宋PLUS新能源</div>
                <div class="text-red-600 text-xs font-light">6.98-8.58万</div>
              </div>
              <div class="car-pop flex-col flex-grow items-end">
                <div class="text-end truncate">全国销量</div>
                <div class="text-end truncate text-[10px]">51288</div>
              </div>
            </div>
          </a>
          <a class="flex justify-start items-center my-3" href="" target="_blank">
            <div class="ranking">
              <div
                class="flex items-center justify-center w-8 h-8 rounded-full bg-yellow-200 text-center"
              >
                2
              </div>
            </div>
            <div class="car-image mx-2">
              <img src="assets/sample/carbrand/car2.png" width="120px" />
            </div>

            <div class="flex car-name justify-between w-full">
              <div class="info">
                <div class="truncate text-sm">宋PLUS新能源</div>
                <div class="text-red-600 text-xs font-light">6.98-8.58万</div>
              </div>
              <div class="car-pop flex-col flex-grow items-end">
                <div class="text-end truncate">全国销量</div>
                <div class="text-end truncate text-[10px]">51288</div>
              </div>
            </div>
          </a>
          <a class="flex justify-start items-center my-3" href="" target="_blank">
            <div class="ranking">
              <div
                class="flex items-center justify-center w-8 h-8 rounded-full bg-yellow-200 text-center"
              >
                3
              </div>
            </div>
            <div class="car-image mx-2">
              <img src="assets/sample/carbrand/car2.png" width="120px" />
            </div>

            <div class="flex car-name justify-between w-full">
              <div class="info">
                <div class="truncate text-sm">宋PLUS新能源</div>
                <div class="text-red-600 text-xs font-light">6.98-8.58万</div>
              </div>
              <div class="car-pop flex-col flex-grow items-end">
                <div class="text-end truncate">全国销量</div>
                <div class="text-end truncate text-[10px]">51288</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-span-1">
      <div class="card border rounded-md shadow-sm">
        <div class="flex justify-between items-center border p-2">
          <a href="" target="_blank" class="font-bold">有驾销量榜</a>
          <a href="" target="_blank" class="flex justify-end text-gray-500">
            全国销量<i class="hgi-stroke hgi-greater-than"></i>
          </a>
        </div>
        <div class="card-content p-2">
          <a class="flex justify-start items-center my-3" href="" target="_blank">
            <div class="ranking">
              <div
                class="flex items-center justify-center w-8 h-8 rounded-full bg-yellow-200 text-center"
              >
                1
              </div>
            </div>
            <div class="car-image mx-2">
              <img src="assets/sample/carbrand/car2.png" width="120px" />
            </div>

            <div class="flex car-name justify-between w-full">
              <div class="info">
                <div class="truncate text-sm">宋PLUS新能源</div>
                <div class="text-red-600 text-xs font-light">6.98-8.58万</div>
              </div>
              <div class="car-pop flex-col flex-grow items-end">
                <div class="text-end truncate">全国销量</div>
                <div class="text-end truncate text-[10px]">51288</div>
              </div>
            </div>
          </a>
          <a class="flex justify-start items-center my-3" href="" target="_blank">
            <div class="ranking">
              <div
                class="flex items-center justify-center w-8 h-8 rounded-full bg-yellow-200 text-center"
              >
                2
              </div>
            </div>
            <div class="car-image mx-2">
              <img src="assets/sample/carbrand/car2.png" width="120px" />
            </div>

            <div class="flex car-name justify-between w-full">
              <div class="info">
                <div class="truncate text-sm">宋PLUS新能源</div>
                <div class="text-red-600 text-xs font-light">6.98-8.58万</div>
              </div>
              <div class="car-pop flex-col flex-grow items-end">
                <div class="text-end truncate">全国销量</div>
                <div class="text-end truncate text-[10px]">51288</div>
              </div>
            </div>
          </a>
          <a class="flex justify-start items-center my-3" href="" target="_blank">
            <div class="ranking">
              <div
                class="flex items-center justify-center w-8 h-8 rounded-full bg-yellow-200 text-center"
              >
                3
              </div>
            </div>
            <div class="car-image mx-2">
              <img src="assets/sample/carbrand/car2.png" width="120px" />
            </div>

            <div class="flex car-name justify-between w-full">
              <div class="info">
                <div class="truncate text-sm">宋PLUS新能源</div>
                <div class="text-red-600 text-xs font-light">6.98-8.58万</div>
              </div>
              <div class="car-pop flex-col flex-grow items-end">
                <div class="text-end truncate">全国销量</div>
                <div class="text-end truncate text-[10px]">51288</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-flow-col gap-4 my-5">
    <div *ngFor="let brand of topCarBrands" class="flex flex-col items-center">
      <div class="car-brand-logo">
        <a href="brand.url" target="_blank">
        <img [src]="brand.image_url" class="w-11" />
        </a>
      </div>
      <div class="car-brand-name">
        {{ brand.name }}
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 mt-2">
  <!-- Blog Item -->
  <div class="flex items-start space-x-4">
    <!-- Image -->
    <img
      src="https://dgss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2413792412,251504908&fm=30&app=106&f=JPEG?w=312&h=208&s=5EAC84441E417145131A1DC10300E09E"
      alt="Blog Thumbnail"
      class="w-32 object-cover rounded-sm"
    />
    <!-- Content -->
    <div class="flex-1">
      <h3 class="text-lg font-semibold text-gray-800 hover:text-blue-600">
        <a href="#">寒潮频繁出现冷冬就要来？小雪和寒潮是固定搭配？科普→</a>
      </h3>
      <p class="mt-1 text-sm text-gray-500">
        如果寒潮频繁来袭，这一冬会是冷冬吗？小雪节气是全年寒潮第二多的节气。作为冬天的“常客”，大家对寒潮也形成了一些误解，比如寒潮频繁来袭就意味着冷冬的到来。
      </p>
      <div class="mt-2 flex items-center text-sm text-gray-400">
        <a href="#" class="mr-2">央视网 </a>
        <span>•</span>
        <span class="ml-2"> 5小时前更新</span>
      </div>
    </div>
  </div>
  </div>
