<div class="container">
    <div class="row" style="background-color: rgb(226, 226, 226);">
        <div class="container-fluid header">
            <div class="logo mt-2">
                <a class="navbar-brand header"  routerLink="/create">
                    <img src="img_avatar1.png" alt="Logo" style="width:40px;" class="rounded-pill">
                    founder
                    <br>
                </a>
            </div>
            <br>
            <div class="content">DAO xyz Dashboard</div>
        </div>

    </div>
    <div class="mt-3" style="padding-left: 3%;">
        <b>Governance</b>
        <ul>
            <li>
                Project #1 Provide contracts design and frontend.. <b>-PASSED</b>
            </li>
            <li>
                Project #2 Add new Project Manager 0x44.. <b>-PASSED</b>
            </li>
            <li>
                Release governance token for user 0x11.. <b>-REJECTED</b>
            </li>
        </ul>
        <b>Projects</b>
    </div>
    <div class="row mt-2 inputgroup">
        <div class="card p-1 shadow-sm" style="max-width: 90%; border-radius: 10px;">
            <div class="card-body">
                <h5 class="card-title">Project #1</h5>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="col-sm-7">
                        <p class="card-text text-muted mb-2">Provide contracts design and frontend for the DAO flows</p>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span class="text-muted">Deadline set on <br> <strong>20/06/2022</strong></span>
                        </div>
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-between align-items-center">
                    <span>20 open tasks of 40 total (50%)</span>
                    <div>
                        <img src="img_avatar1.png" alt="Avatar" class="rounded-circle" />
                        <span>16 contributors</span>
                    </div>
                </div>
                <span><a href="#" class="text-primary">View tasks</a></span>
            </div>
        </div>

    </div>
    <div class="row mt-4 inputgroup">
        <div class="card p-1 shadow-sm" style="max-width: 90%; border-radius: 10px;">
            <div class="card-body">
                <h5 class="card-title">Project #2</h5>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="col-sm-7">
                        <p class="card-text text-muted mb-2">Design project management capabilities to deliver core
                            capabilities...</p>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span class="text-muted">Deadline set on <br> <strong>20/06/2022</strong></span>
                        </div>
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-between align-items-center">
                    <span>20 open tasks of 40 total (50%)</span>
                    <div>
                        <img src="img_avatar1.png" alt="Avatar" class="rounded-circle" />
                        <span>16 contributors</span>
                    </div>
                </div>
                <span><a href="#" class="text-primary">View tasks</a></span>
            </div>
        </div>

    </div>

    <br>
</div>