<div class="grid grid-cols-3 gap-4">
  <div class="col-span-1 m-3 h-full">
    <app-gameslider></app-gameslider>
  </div>
  <div class="col-span-1 m-3 h-full border rounded-md">

      <div class="flex flex-col">
        <div class="flex w-full justify-center py-4 titlebgcolor">
          <img src="assets/sample/title_22.png" class="h-8" />
        </div>
        <div class="flex items-center p-2">
          <div class="w-2/6 relative">
            <img src="assets/sample/game-data-1.jpg" class="w-full border shadow-sm rounded-md " />
            <div class="absolute bottom-1 right-0 w-full text-center">
              <span class="text-sm text-white">页游前十名</span>
            </div>
          </div>
          <div class="w-4/6 flex-col ml-2">
            <div class="font-bold">刺沙</div>
            <div class="text-gray-700 text-sm">福利好礼等你来</div>
            <div class="text-gray-700 text-xs">3071人在玩</div>
          </div>
        </div>

        <div class="flex items-center p-2">
          <div class="w-2/6 relative">
            <img src="assets/sample/game-data-1.jpg" class="w-full border shadow-sm rounded-md" />
            <div class="absolute bottom-1 right-0 w-full text-center">
              <span class="text-sm text-white">页游前十名</span>
            </div>
          </div>
          <div class="w-4/6 flex-col ml-2">
            <div class="font-bold">刺沙</div>
            <div class="text-gray-700 text-sm">福利好礼等你来</div>
            <div class="text-gray-700 text-xs">3071人在玩</div>
          </div>
        </div>

        <div class="flex items-center p-2">
          <div class="w-2/6 relative">
            <img src="assets/sample/game-data-1.jpg" class="w-full border shadow-sm rounded-md" />
            <div class="absolute bottom-1 right-0 w-full text-center">
              <span class="text-sm text-white">页游前十名</span>
            </div>
          </div>
          <div class="w-4/6 flex-col ml-2">
            <div class="font-bold">刺沙</div>
            <div class="text-gray-700 text-sm">福利好礼等你来</div>
            <div class="text-gray-700 text-xs">3071人在玩</div>
          </div>
        </div>

        <div class="flex items-center p-2">
          <div class="w-2/6 relative">
            <img src="assets/sample/game-data-1.jpg" class="w-full border shadow-sm rounded-md" />
            <div class="absolute bottom-1 right-0 w-full text-center">
              <span class="text-sm text-white">页游前十名</span>
            </div>
          </div>
          <div class="w-4/6 flex-col ml-2">
            <div class="font-bold">刺沙</div>
            <div class="text-gray-700 text-sm">福利好礼等你来</div>
            <div class="text-gray-700 text-xs">3071人在玩</div>
          </div>
        </div>

        <div class="flex justify-center">
          <button
            class="bg-orange-500 hover:bg-blue-700 text-white font-bold  px-4 rounded">
            换一换
          </button>
        </div>

    </div>
  </div>
  <div class="col-span-1 m-3 border rounded-md h-full">

      <div class="flex flex-col">
        <div class="flex w-full justify-center py-4 titlebgcolor">
          <img src="assets/sample/title_33.png" class="h-8" />
        </div>
      </div>
      <div class="flex items-center p-2 w-full border-b">
        <div class="flex w-1/6 justify-center">
          1
        </div>
        <div class="flex-1 truncate">
          洪荒仙韵
        </div>
        <div class="flex-1 truncate">
          休闲竞技,手机页游
        </div>
        <div class="flex-1 truncate">
          <a href="#" class="text-blue-500">进入游戏</a>
        </div>
      </div>

      <div class="flex items-center p-2 w-full border-b">
        <div class="flex w-1/6 justify-center">
          1
        </div>
        <div class="flex-1 truncate">
          洪荒仙韵
        </div>
        <div class="flex-1 truncate">
          休闲竞技,手机页游
        </div>
        <div class="flex-1 truncate">
          <a href="#" class="text-blue-500">进入游戏</a>
        </div>
      </div>


      <div class="flex items-center p-2 w-full border-b">
        <div class="flex w-1/6 justify-center">
          1
        </div>
        <div class="flex-1 truncate">
          洪荒仙韵
        </div>
        <div class="flex-1 truncate">
          休闲竞技,手机页游
        </div>
        <div class="flex-1 truncate">
          <a href="#" class="text-blue-500">进入游戏</a>
        </div>
      </div>


      <div class="flex items-center p-2 w-full border-b">
        <div class="flex w-1/6 justify-center">
          1
        </div>
        <div class="flex-1 truncate">
          洪荒仙韵
        </div>
        <div class="flex-1 truncate">
          休闲竞技,手机页游
        </div>
        <div class="flex-1 truncate">
          <a href="#" class="text-blue-500">进入游戏</a>
        </div>
      </div>

      <div class="flex items-center p-2 w-full border-b">
        <div class="flex w-1/6 justify-center">
          1
        </div>
        <div class="flex-1 truncate">
          洪荒仙韵
        </div>
        <div class="flex-1 truncate">
          休闲竞技,手机页游
        </div>
        <div class="flex-1 truncate">
          <a href="#" class="text-blue-500">进入游戏</a>
        </div>
      </div>

      <div class="flex items-center p-2 w-full border-b">
        <div class="flex w-1/6 justify-center">
          1
        </div>
        <div class="flex-1 truncate">
          洪荒仙韵
        </div>
        <div class="flex-1 truncate">
          休闲竞技,手机页游
        </div>
        <div class="flex-1 truncate">
          <a href="#" class="text-blue-500">进入游戏</a>
        </div>
      </div>

      <div class="flex items-center p-2 w-full border-b">
        <div class="flex w-1/6 justify-center">
          1
        </div>
        <div class="flex-1 truncate">
          洪荒仙韵
        </div>
        <div class="flex-1 truncate">
          休闲竞技,手机页游
        </div>
        <div class="flex-1 truncate">
          <a href="#" class="text-blue-500">进入游戏</a>
        </div>
      </div>

      <div class="flex items-center p-2 w-full border-b">
        <div class="flex w-1/6 justify-center">
          1
        </div>
        <div class="flex-1 truncate">
          洪荒仙韵
        </div>
        <div class="flex-1 truncate">
          休闲竞技,手机页游
        </div>
        <div class="flex-1 truncate">
          <a href="#" class="text-blue-500">进入游戏</a>
        </div>
      </div>



  </div>
</div>
<div class="grid grid-cols-6 mt-5 px-3">
  <div class="col-span-1 flex items-center">
    <img src="assets/sample/first_icon_.png" class="w-6" />
    <span class="text-sm">页游前十名</span>
  </div>
  <div class="col-span-1 flex items-center">
    <img src="assets/sample/first_icon2_.png" class="w-6" />
    <span class="text-sm">0元首充</span>
  </div>
  <div class="col-span-1 flex items-center">
    <img src="assets/sample/first_icon3_.png" class="w-6" />
    <span class="text-sm">0元首充</span>
  </div>
  <div class="col-span-1 flex items-center">
    <img src="assets/sample/first_icon4_.png" class="w-6" />
    <span class="text-sm">小游戏</span>
  </div>
  <div class="col-span-1 flex items-center">
    <img src="assets/sample/first_icon5_.png" class="w-6" />
    <span class="text-sm">玩过的游戏</span>
  </div>

  <div class="col-span-1">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4"
    >
      收起 X
    </button>
  </div>
</div>
<div class="container mx-2">
  <!-- Here go blog content -->
  <div class="grid grid-cols-1 gap-4 mt-2">
    <div *ngFor="let post of gameBlogsPost" class="col-span-1">

      <div class="flex items-center border-b border-b-gray-400 mb-3">
        <div class="mr-4">
          <img
            *ngIf="post.image"
            [src]="post.image"
            alt="Post Image"
            class="w-[120px] object-cover"
          />
        </div>
        <div class="p-4">
          <h2 class="text-2xl font-bold">
            <a [href]="post.post_url"> {{post.title }}</a></h2>
          <p class="text-gray-500">{{ post.excerpt }}</p>
          <div class="flex">
            <a [href]="post.author_link" class="text-blue-500">{{post.author}}</a>
            <span class="mx-2">{{post.total_view}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
