<div class="fixed right-4 top-2/3 transform -translate-y-1/2 p-2 flex flex-col">
  <div class="mb-2 flex w-full border border-gray-300">
    <img src="assets/icon/game2.png" alt="game" class="w-10 inline-block" />
  </div>
  <div
    [class.hidden]="!isTopHidden"
    class="w-full text-center text-2xl font-bold transition-transform duration-300 border border-gray-300"
    (click)="scrollToTop()"
  >
    <i class="hgi-stroke hgi-arrow-up-01"></i>
  </div>
  <div class="border border-gray-300">
    <img
      src="assets/icon/d5fecbd5239db7cbc8d7939a75e4d830.png"
      alt="game"
      class="w-10 inline-block"
    />
  </div>
  <div class="flex py-2 justify-center w-full my-3 border border-gray-300">
    <div class="flex flex-col">
      <img src="assets/icon/tool.png" alt="game" class="w-8 inline-block" />
      辅助<br />模式
    </div>
  </div>
</div>
<div
  class="container flex items-center justify-around mx-auto px-4 my-2 w-full border border-gray-200 p-2"
>
  <div *ngIf="govSites && govSites.length; else noData" class="govSites">
    <a *ngFor="let site of govSites">
      <div>
        <a
          class="govSites"
          style="margin-left: 26px; margin-right: 26px"
          [href]="site.url"
          target="_blank"
          >{{ site.name }}</a
        >
      </div>
    </a>
  </div>

  <ng-template #noData>
    <p>No government sites available.</p>
  </ng-template>
</div>

<app-gamebar />

<app-siteitem />

<div class="container mx-auto mb-2 w-full py-3 grid grid-cols-12 gap-4">
  <div class="col-span-3">
    <!-- left nav-->

    <app-hotlist />

    <div class="nav-2 border border-gray-300 shadow-md my-3">
      <nav class="nav-1 border border-gray-300 shadow-md w-full">
        <div class="flex border-b border-gray-200 shadow-md">
          <button
            class="tab-button-2 relative px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-900 focus:outline-none"
            data-tab="tabtwo1"
          >
            电影
            <span
              class="absolute -top-1 left-0 w-full h-0.5 bg-green-500 hidden"
            ></span>
          </button>
          <button
            class="tab-button-2 relative px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-900 focus:outline-none"
            data-tab="tabtwo2"
          >
            电视
            <span
              class="absolute -top-1 left-0 w-full h-0.5 bg-green-500 hidden"
            ></span>
          </button>
          <button
            class="tab-button-2 relative px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-900 focus:outline-none"
            data-tab="tabtwo3"
          >
            小说
            <span
              class="absolute -top-1 left-0 w-full h-0.5 bg-green-500 hidden"
            ></span>
          </button>
          <button
            class="tab-button-2 relative px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-900 focus:outline-none"
            data-tab="tabtwo4"
          >
            游戏
            <span
              class="absolute -top-1 left-0 w-full h-0.5 bg-green-500 hidden"
            ></span>
          </button>
          <button
            class="tab-button-2 relative px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-900 focus:outline-none"
            data-tab="tabtwo5"
          >
            游戏
            <span
              class="absolute -top-1 left-0 w-full h-0.5 bg-green-500 hidden"
            ></span>
          </button>
        </div>
      </nav>
      <div class="flex">
        <div class="tab-content-2 bg-white hidden" id="tabtwo1">
          <app-sideslide />

          <div class="p-4 max-w-lg mx-auto bg-white shadow-md rounded-md">
            <ol class="space-y-1 list-decimal">
              <!-- Top List Item -->
              <ng-container *ngFor="let item of TopListItems">
                <li
                  *ngIf="item.name"
                  class="flex items-center justify-start border-b"
                >
                  <a
                    [href]="item.url"
                    title="{{ item.name }}"
                    class="text-blue-500 hover:underline truncate"
                  >
                    {{ item.name }}
                  </a>
                </li>
              </ng-container>
            </ol>
          </div>
        </div>
        <div
          class="tab-content-2 p-4 bg-white border border-gray-200 hidden"
          id="tabtwo2"
        >
          <p>Content 2.</p>
        </div>
        <div
          class="tab-content-2 p-4 bg-white border border-gray-200 hidden"
          id="tabtwo3"
        >
          <p>Content 3.</p>
        </div>
        <div
          class="tab-content-2 p-4 bg-white border border-gray-200 hidden"
          id="tabtwo4"
        >
          <p>Content 4.</p>
        </div>
        <div
          class="tab-content-2 p-4 bg-white border border-gray-200 hidden"
          id="tabtwo5"
        >
          <p>Content 1.</p>
        </div>
      </div>
    </div>

    <div class="nav-3 border border-gray-300 shadow-md my-3">
      <nav class="nav-1 border border-gray-300 shadow-md w-full">
        <div class="flex border-b border-gray-200 shadow-md">
          <button
            class="tab-button-3 relative px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-900 focus:outline-none"
            data-tab="tab3a"
          >
            电影
            <span
              class="absolute -top-1 left-0 w-full h-0.5 bg-green-500 hidden"
            ></span>
          </button>
          <button
            class="tab-button-3 relative px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-900 focus:outline-none"
            data-tab="tab3b"
          >
            电视
            <span
              class="absolute -top-1 left-0 w-full h-0.5 bg-green-500 hidden"
            ></span>
          </button>
        </div>
      </nav>

      <div
        class="tab-content-3 bg-white border border-gray-200 hidden"
        id="tab3a"
      >
        <app-sideslide />
        <ol class="px-2 mt-1 mb-2">

          <ng-container *ngFor="let item of hotListItems">
            <li class="flex space-x-2">
              <i class="hgi-stroke hgi-play-circle-02 text-green-500"></i>
              <a [href]="item.url" class="text-small font-sm hover:underline truncate">
                {{ item.name }}
              </a>
            </li>
          </ng-container>

          <!-- <li class="flex space-x-2">
            <i class="hgi-stroke hgi-play-circle-02 text-green-500"></i>
            <a href="#" class="text-small font-sm hover:underline truncate"
              > 外交部要求中日双方面免签”</a
            >

          </li>
          <li class="flex space-x-2">
            <i class="hgi-stroke hgi-play-circle-02 text-green-500"></i>
            <a href="#" class="text-small font-sm hover:underline truncate"
              >真分手了？黄晓明百科叶珂已变成他的前女友，叶珂彻底成为过去式</a
            >
          </li>
          <li class="flex space-x-2">
            <i class="hgi-stroke hgi-play-circle-02 text-green-500"></i>
            <a href="#" class="text-small font-sm hover:underline truncate"
              >鹿晗一天吃一顿每天跑十公里，瘦到仅55公斤，高瀚宇为其发声</a
            >
          </li>
          <li class="flex space-x-2">
            <i class="hgi-stroke hgi-play-circle-02 text-green-500"></i>
            <a href="#" class="text-small font-sm hover:underline truncate"
              >鹿晗四个月前就开始准备音乐节，为了gapday一天吃一顿，每天戴着护膝跑十公里！哥你有这个毅力做什么都会成功的！</a
            >
          </li>
          <li class="flex space-x-2">
            <i class="hgi-stroke hgi-play-circle-02 text-green-500"></i>
            <a href="#" class="text-small font-sm hover:underline truncate"
              >鹿晗二度直播回应被骂：不管怎么骂都贼开心，曝每天只吃1餐跑10公里</a
            >
          </li> -->

        </ol>
      </div>
      <div
        class="tab-content-3 bg-white border border-gray-200 hidden"
        id="tab3b"
      >
        <app-sideslide />
      </div>
    </div>

    <div class="nav-4 border border-gray-300 shadow-md my-3">
      <div class="flex justify-between items-center w-full p-2 shadow-md">
        <h6>搜索热点</h6>
        <a href="#" class="ml-2"><i class="hgi-stroke hgi-reload"></i>换一换</a>
      </div>
      <div class="flex w-full p-2">
        <ul class="w-full list-decimal pl-2">
          <li class="flex justify-between">
            <a href="#" class="text-small font-sm hover:underline flex-grow"
              >1. 外交部要求中日双方面免签”</a
            >
            <span class="text-gray-500">792万</span>
          </li>
          <li class="flex justify-between">
            <a href="#" class="text-small font-sm hover:underline flex-grow"
              >2. 私家车撞上军用装甲车</a
            >
            <span class="text-gray-500">792万</span>
          </li>
          <li class="flex justify-between">
            <a href="#" class="text-small font-sm hover:underline flex-grow"
              >3. “链”味十足 向“新”前行</a
            >
            <span class="text-gray-500">792万</span>
          </li>
          <li class="flex justify-between">
            <a href="#" class="text-small font-sm hover:underline flex-grow"
              >4. “链”味十足 向“新”前行</a
            >
            <span class="text-gray-500">792万</span>
          </li>
          <li class="flex justify-between">
            <a href="#" class="text-small font-sm hover:underline flex-grow"
              >5. 链”味十足 向“新”前行</a
            >
            <span class="text-gray-500">792万</span>
          </li>
          <li class="flex justify-between">
            <a href="#" class="text-small font-sm hover:underline flex-grow"
              >6. “链”味十足新”前行</a
            >
            <span class="text-gray-500">792万</span>
          </li>
          <li class="flex justify-between">
            <a href="#" class="text-small font-sm hover:underline flex-grow"
              >7. “链”味十足 向“新”前行</a
            >
            <span class="text-gray-500">792万</span>
          </li>
          <li class="flex justify-between">
            <a href="#" class="text-small font-sm hover:underline flex-grow"
              >8. “链”味十足 向“新”前行</a
            >
            <span class="text-gray-500">792万</span>
          </li>
          <li class="flex justify-between">
            <a href="#" class="text-small font-sm hover:underline flex-grow"
              >9. “链”味十足 向“新”前行</a
            >
            <span class="text-gray-500">792万</span>
          </li>
          <li class="flex justify-between">
            <a href="#" class="text-small font-sm hover:underline flex-grow"
              >10. “链”味十足 向“新”前行</a
            >
            <span class="text-gray-500">792万</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="nav-5 flex border border-gray-300 shadow-md my-3">
      <h6>实时脉搏</h6>
    </div>
  </div>
  <!-- end left nav-->
  <div class="col-span-9 border border-gray">
    <app-postcontent />
  </div>
</div>
