<div
  class="container mx-auto px-4 bg-[url('https://hao123-static.cdn.bcebos.com/fe-res/her/static/indexnew/component/feednews/bg.812f584.png')]"
>
  <ul class="mb-2 ml-4 space-y-2 list-disc">
    <li *ngFor="let news of topNews">
      <a
        [href]="news.url"
        target="_blank"
        class="text-blue-600 hover:underline"
        >{{ news.name }}</a
      >
    </li>
  </ul>

  <div class="grid grid-cols-1">
    <!-- Blog Item -->
    <div class="flex items-start space-x-4">
      <!-- Image -->
      <img
        src="https://dgss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2413792412,251504908&fm=30&app=106&f=JPEG?w=312&h=208&s=5EAC84441E417145131A1DC10300E09E"
        alt="Blog Thumbnail"
        class="w-32 object-cover rounded-sm"
      />
      <!-- Content -->
      <div class="flex-1">
        <h3 class="text-lg font-semibold text-gray-800 hover:text-blue-600">
          <a href="#">寒潮频繁出现冷冬就要来？小雪和寒潮是固定搭配？科普→</a>
        </h3>
        <p class="mt-1 text-sm text-gray-500">
          如果寒潮频繁来袭，这一冬会是冷冬吗？小雪节气是全年寒潮第二多的节气。作为冬天的“常客”，大家对寒潮也形成了一些误解，比如寒潮频繁来袭就意味着冷冬的到来。
        </p>
        <div class="mt-2 flex items-center text-sm text-gray-400">
          <a href="#" class="mr-2">央视网 </a>
          <span>•</span>
          <span class="ml-2"> 5小时前更新</span>
        </div>
      </div>
    </div>

    <div class="flex items-start space-x-4">
      <img
        src="https://dgss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3736371517,250974868&fm=30&app=106&f=JPEG?w=312&h=208&s=22D018C456CA0F5F9DC96C1703001040"
        alt="Blog Thumbnail"
        class="w-32 object-cover rounded-sm"
      />
      <div class="flex-1">
        <h3 class="text-lg font-semibold text-gray-800 hover:text-blue-600">
          <a href="#">如果马云和孙正义的相遇晚了半年</a>
        </h3>
        <p class="mt-1 text-sm text-gray-500">
          在11月13日的英伟达日本峰会上，英伟达CEO黄仁勋对台下观众爆料：“你们可能不知道，曾经有一段时间，孙正义是英伟达最大的股东。”孙正义对此也追悔莫及。
        </p>
        <div class="mt-2 flex items-center text-sm text-gray-400">
          <a href="#" class="mr-2">虎嗅 </a>
          <span>•</span>
          <span class="ml-2"> 6天前更新</span>
        </div>
      </div>
    </div>

    <div class="flex items-start space-x-4">
      <!-- Image -->
      <img
        src="https://dgss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2413792412,251504908&fm=30&app=106&f=JPEG?w=312&h=208&s=5EAC84441E417145131A1DC10300E09E"
        alt="Blog Thumbnail"
        class="w-32 object-cover rounded-sm"
      />
      <!-- Content -->
      <div class="flex-1">
        <h3 class="text-lg font-semibold text-gray-800 hover:text-blue-600">
          <a href="#">寒潮频繁出现冷冬就要来？小雪和寒潮是固定搭配？科普→</a>
        </h3>
        <p class="mt-1 text-sm text-gray-500">
          如果寒潮频繁来袭，这一冬会是冷冬吗？小雪节气是全年寒潮第二多的节气。作为冬天的“常客”，大家对寒潮也形成了一些误解，比如寒潮频繁来袭就意味着冷冬的到来。
        </p>
        <div class="mt-2 flex items-center text-sm text-gray-400">
          <a href="#" class="mr-2">央视网 </a>
          <span>•</span>
          <span class="ml-2"> 5小时前更新</span>
        </div>
      </div>
    </div>

    <div class="flex items-start space-x-4">
      <div class="flex-1">
        <h3 class="text-lg font-semibold text-gray-800 hover:text-blue-600">
          <a href="#">寒潮频繁出现冷冬就要来？小雪和寒潮是固定搭配？科普→</a>
        </h3>
        <p class="mt-1 text-sm text-gray-500">
          如果寒潮频繁来袭，这一冬会是冷冬吗？小雪节气是全年寒潮第二多的节气。作为冬天的“常客”，大家对寒潮也形成了一些误解，比如寒潮频繁来袭就意味着冷冬的到来。
        </p>
        <div class="mt-2 flex items-center text-sm text-gray-400">
          <a href="#" class="mr-2">央视网 </a>
          <span>•</span>
          <span class="ml-2"> 5小时前更新</span>
        </div>
      </div>
    </div>
  </div>
</div>
